main {
  background-color: rgba(248, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  min-height: 0;
  overflow: hidden;
}

h1 {
  background-color: rgba(248, 255, 255, 1);
  border-bottom: 2px solid var(--border-default-color);
  margin: 0;
  font-size: 1.75rem;
  padding: 0.5rem 1rem;
  text-align: center;
}
